@model docFileModel
@{
    ViewData["Title"] = "Шифрование .doc";
}

<h1>Шифровка .doc файлов</h1>
<p>Выберите нужный файл и введите ключ шифровки, ну ещё и путь введите)</p>

<form asp-controller="Home" asp-action="docDecoder"
      enctype="multipart/form-data" method="post">
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-info pl-3">Форма шифровки файла</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="File"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="File" type="file" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Key"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Key" class="form-control" />
                        <span asp-validation-for="Key" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Path"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Path" class="form-control" />
                        <span asp-validation-for="Path" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Сохранить"/>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Назад</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

